 /* 
IMPORTING NAVBAR STYLE
*/

@import url("navBar.css");
@import url("footer.css");

body {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-size: 0.95vw;
    background-color:#fff;
}

.encadrement{
    background: white;
    width: 80%;
    height: 11vw;
    border-radius: 0.6vw;
    border: 1px solid black;
    margin-top: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    color: black;
    text-align: center;
    font-size: 0.85vw;
}

.text{
    margin-left: 1vw;
    margin-right: 1vw;
}

.profilG{
    width: 8vw;
    border: 1px solid black;
    border-radius: 5vw;
}

.profilD{
    width: 8vw;
    border: 1px solid black;
    border-radius: 5vw;
}

.allprofiles {
    display: flex;
    flex-direction: column;
    margin-right: 20vw;
    margin-left: 20vw;
}

.firstprofile {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
}

.secondprofile {
    margin-top: 2vw;
    display: flex;
    flex-direction: row-reverse;
}

.thirdprofile {
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
}

.fourthprofile {
    margin-top: 2vw;
    display: flex;
    flex-direction: row-reverse
}

.textleftprofiles {
    margin-left: 2.5vw;
    height: 100%;
    text-align: left;
}

.textrightprofiles {
    height: 100%;
    margin-right: 2.5vw;
    margin-top: 2vw;
    text-align: right;
}

.titre{
    text-align: center;
    
} 

#footer{
    margin-top: 5vh;
}