
#footer {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    background-color: #5f687c;
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
}

#footer ul {
    padding: 0;
}

#footer li {
    display: inline-block;
    text-align: center;
}

#footer li a {
    display: flex;
    padding: 1.2vw 1.3vw;
    text-decoration: none;
    text-align: center;
    font-size: 1.5vw;
    color: #fff;
}

#footer li a:hover {
    color: #5f687c;
    text-align: center;
    background-color: #fff;
    text-shadow: none;
}

#footer li p {
    display: flex;
    text-decoration: none;
    text-align: center;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    font-size: 1.3vw;
    color: #fff;
}

/*FOOTER'S END*/

#legals_terms {
    display: flex;
    list-style-type: none;
    padding: 1.5vw;
    background-color: #5f687c;
}

#legals_terms a {
    text-decoration: none;
    color: #fff;
    margin-left: 3vw;
    margin-bottom: 1vw;
    font-size: 1.3vw;
}

/*
END OF FOOTER STYLING
*/

@media (max-width: 805px) {
    
    #footer li a 
    {
        display: flex;
        padding: 1.2vw 1.3vw;
        text-decoration: none;
        text-align: center;
        font-size: 2.75vw;
        color: #fff;
    }
    
    #footer li p 
    {
        display: flex;
        text-decoration: none;
        text-align: center;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        font-size: 2.75vw;
        color: #fff;
    }
}

@media only screen and (min-width: 805px) {
    
}

@media only screen and (min-width: 992px) {
    
}