/* 
IMPORTING NAVBAR STYLE
*/

@import url("navBar.css");
@import url("footer.css");

body {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: "Verdana", "Arial", "Tahoma", "Serif";
    font-size: 13px;
    background-color: #D5CABC;
    min-height: 100vh;
}

.managingnavbar {
    display:flex;
    flex-direction: row;
}

.encadrementErrorMessage {
    display: none;
    background: #e3dac3;
    width: 80vw;
    height: 50vw;
    border-radius: 1vw;
    border: 0.3vw solid #5f687c;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 5vw;
    font-size: 2.25vw;
    color: black;
    text-align: center;
}

.textErrorMessage {
    margin: 1vw;
    height: 100%;
    font-size: 2.75vw;
}

#errorMessage {
    display: none;
}

/* DROPDOWN MENU */
.support {
    position: relative; 
}

.dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li + li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #4c9e9e;
}

.support:hover .dropdown {
    display: block;
}

.profilePicture {
    width: 5vw;
    height: 5vh;
}

canvas {
    display : block;   
    margin : auto;
    margin-top: 5vh;
}

.encadrementScenario{
    background: #e3dac3;
    width: 50vw;
    height: 25vw;   
    border-radius: 1vw;
    border: 0.3vw solid #5f687c;
    margin: auto;
    display: block;
    margin-top: 2vw;
    margin-bottom: 5vw;
    font-size: 1.25vw;
    color: black;
    text-align: center;
}

.textScenario{
    margin: 1vw;
    height: 100%;
}

.connexionButton{
    background-color: #5f687c;
    border: none;
    color:#fff;
    text-align: center;
    font-size: 0.9vw;
    width: 7.5vw;  
    height: 1.75vw;
    margin-left: 44%;
    margin-bottom: 1vw;
}

.connexionButton:hover{
    color: #5f687c;
    background-color: #fff;
}

.comments{
    display: flex;
    flex-direction: column;
}

.commentArea{
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 5vh;
    margin-right: 3vw;
    background: #d4d0c6;
}

.checked {
    color: orange;
}

.profile{
    margin-right: 40px;
    padding-right: 10px;
    border-right: 2px solid;
    border-color: gray;
}
.profileName{
    margin-top: 0;
    text-align: center;
}

.commentsTexts{
    font-size: 1rem;
    text-align: left;
    word-wrap: break-word;
}

#commentInput{
    min-width : 40vw;
    height: 6vh;
    resize : none;
}

#inputCommentArea   {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center;
    margin-left: 25vw;
    margin-right: 25vw;
}

#submitComment{
    background-color: #5f687c;
    border: none;
    color: white;
    margin-left: 1vw;
    padding: 0.5vw 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    transition-duration: 0.2s;
}

#submitComment:hover{
    background-color: white;
    color: #5f687c;
    border-color: #5f687c;
    border-style: solid;
}

.mustBeConnected{
    font-size: 1.5rem;
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

#entofr{
    border-radius: 0.3vw;
    border: 0.2vw solid #5f687c;
    cursor: pointer;
    text-decoration: none;
}

#frtoen{
    border-radius: 0.3vw;
    border: 0.2vw solid #5f687c;
    cursor: pointer;
    text-decoration: none;
}


/*Media Query for mobile*/
@media (max-width: 805px), (max-height: 700px){ 
    
    #game {
        display: none;
    }
    
    .encadrementErrorMessage {
        margin-top: 5vw;
        margin-bottom: 10vw;
        display: block;
    }
    
    #errorMessage {
        display: block;
    }
    
    .encadrementScenario{
        width: 80vw;
        height: 65vw;
        font-size: 2.5vw;
        margin-top: 5vw;
        margin-bottom: 10vw;
    }
    
    .textScenario{
        font-size: 2.8vw;
        padding: 1vw;
    }
    
    #commentsSection {
        display: none;
    }
}

@media (max-height: 805) {
    
}

@media (min-width: 805px) {
    
}

@media (min-width: 992px) {
    
}