/* 
IMPORTING NAVBAR STYLE
*/

@import url("navBar.css");
@import url("footer.css");


body {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-size: 0.8vw;
    background-color:#fff;
}

/*espace commentaires*/
#commentaire{
    text-align: center;
    display: flex;
    flex-direction: column;
    text-shadow: 1px 1px 2px black;
    font-family: Arial, Helvetica, sans-serif;
}

.comment{
    font-size: 1vw;
    font-weight: bold;
    font-style: italic;
}
#commentPseudo{
    font-size: 1.4vw;
    margin-top: 0.8vw;
}

/*2e image avec présentation du jeu + image*/
#gamePreview{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
}

#imagePreview{
    height: 1px;
    filter: blur(2px);
    position: relative;
    z-index: 1;
}


/*texte de présentation du jeu */
.textPreview{
    width: 19vw;
    height: 28vw;
    border:1px solid #000;
    background: whitesmoke;
    opacity: 89%;
    background-position: 0%;
    margin-left: 11vw;
    padding: 0;
    text-align: center;
    font-size: 1vw;
}

/*bouton pour accéder au jeu */

.boutonJouer{
    background: #767b96; 
    margin-top: 1vw;
    width: 11vw; 
    height: 4vw;
    font-size: 1vw;
    color: white;
}

#fondIcons{
    height: 13.5vw;
    position: relative;
    z-index: 1;
    filter: blur(1px);
}

/*rectangles avec icones pour expliquer les buts du jeu*/
.gameIcons{
    position: relative;
    z-index: 2;
    background: #e3dac3;
    width: 64.5vw;
    height: 23vw;
    border-radius: 3vw;
    border: 0.6vw solid #767b96;
    margin: auto;
    display: block;
    margin-bottom: 9.5vw;
    font-size: 1.35vw;
    color: black;
   
}

.imageIcons{
    display: flex;
    margin-top: 40px;
    width: 150px;
    height: 150px;
}

.textIcons{
    display: flex;
    width: 90px;
    height: 80px;
    text-align: center;
}

.iconeCerebrale{  /*container icone cerveau texte*/
    margin-left: 6vw;
}

.iconeLoupe{ /*container icone loupe*/
    margin-left: 6vw;
}

.iconeInspector{ /*container icone inspecteur*/
    margin-left: 6vw;
}

.iconeLangue{ /*container icone langue*/
    margin-left: 6vw;
}




.slide{
    float: left;
}
.slider{
    width: calc(70vw *5);
    animation: glisse 30s infinite;
    
}

.slidecontainer{
    height: 32.5vw;
    width: 45.55vw;
    overflow: hidden;
    margin-left: 15vw;
    position: relative;
    z-index: 2;


}

@keyframes glisse{
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-45.57vw);
    }
    35% {
        transform: translateX(-45.57vw);
    }
    50% {
        transform: translateX(-91.14vw);
    }
    60% {
        transform: translateX(-91.14vw);
    }
    75% {
        transform: translateX(-136.72vw);
    }
    85% {
        transform: translateX(-136.72vw);
    }

}


/*Responsiving Image*/
.responsive {
    width: 100vw;
    height: 50vw;
} 
