/* 
IMPORTING NAVBAR STYLE
*/

@import url("navBar.css");
@import url("footer.css");


body {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-size: 0.8vw;
    background-color:#fff;
}

/*espace commentaires*/
#commentaire{
    font-size: 3vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-shadow: 1px 1px 2px black;
    font-family: Arial, Helvetica, sans-serif;
}

.comment{
    font-size: 2vw;
    font-weight: bold;
    font-style: italic;
}

#commentPseudo{
    font-size: 2vw;
    margin-top: 0.8vw;
}

/*2e image avec présentation du jeu + image*/
#gamePreview{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
}

#imagePreview{
    height: 1px;
    filter: blur(2px);
    position: relative;
    z-index: 1;
}


/*texte de présentation du jeu */
.textPreview{
    width: 19vw;
    height: 30vw;
    border:1px solid #000;
    background: whitesmoke;
    opacity: 89%;
    background-position: 0%;
    margin-left: 11vw;
    padding: 0;
    text-align: center;
    font-size: 1vw;
}

.textexplanation {
    margin-top: 4vw;
}

/*bouton pour accéder au jeu */

.marginBoutonJouer{
    margin-top: 5vw;
}

.boutonJouer{
    background: #767b96; 
    font-size: 1vw;
    color: white;
    cursor: pointer;
    padding: 15px 25px;
    text-decoration: none;
}

.boutonJouer:hover{
    background: #a1a5b7;
}

#fondIcons{
    height: 13.5vw;
    position: relative;
    z-index: 1;
    filter: blur(1px);
}

/*rectangles avec icones pour expliquer les buts du jeu*/
.gameIcons{
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
    background: #e3dac3;
    width: 64.5vw;
    height: 25vw;
    border-radius: 3vw;
    border: 0.6vw solid #767b96;
    margin: auto;
    margin-bottom: 11.5vw;
    font-size: 1.35vw;
    color: black;
    text-align: center;
    
}

.Cerebrale {
    margin-left: 1vw;
    margin-top: 4vw;
}

.Loupe {
    margin-left: 3vw;
    margin-top: 4vw;
}

.Inspector {
    margin-left: 3vw;
    margin-top: 4vw;
}

.Langue {
    margin-left: 3vw;
    margin-right: 1vw;
    margin-top: 4vw;
}

.images {
    margin-left: 1vw;
    height: 10vw;
    height: 10vw;
}

.slide img{
    max-height: 40vw;
    max-width: 45.55vw;
}

.slide{
    float: left;
}

.slider{
    width: calc(70vw *5);
    animation: glisse 30s infinite;
    
}

.slidecontainer{
    height: 35vw;
    width: 45.4vw;
    overflow: hidden;
    margin-left: 15vw;
    z-index: 2;


}

@keyframes glisse{
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-45.57vw);
    }
    35% {
        transform: translateX(-45.57vw);
    }
    50% {
        transform: translateX(-91.14vw);
    }
    60% {
        transform: translateX(-91.14vw);
    }
    75% {
        transform: translateX(-136.72vw);
    }
    85% {
        transform: translateX(-136.72vw);
    }

}


/*Responsiving Image*/
.responsive {
    width: 100%;
    height: 55vw;
} 
