/* 
IMPORTING NAVBAR STYLE
*/

@import url("navBar.css");
@import url("footer.css");


body {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-size: 13px;
    background-color:#fff;
}


/*2e image avec présentation du jeu + image*/
#gamePreview{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
}

#imagePreview{
    height: 1px;
    filter: blur(2px);
    position: relative;
    z-index: 1;
}


/*texte de présentation du jeu */
.textPreview{
    width:300px;
    height:450px;
    border:1px solid #000;
    background: whitesmoke;
    opacity: 89%;
    background-position: 0%;
    margin-left: 15%;
    padding: 0;
    text-align: center;
    font-size: 15px;
}

/*bouton pour accéder au jeu */

.boutonJouer{
    background: #767b96; 
    width: 180px; 
    height: 60px;
    color: white;
}

#fondIcons{
    height: 250px;
    position: relative;
    z-index: 1;
    filter: blur(1px);
}

/*rectangles avec icones pour expliquer les buts du jeu*/
.gameIcons{
    position: relative;
    z-index: 2;
    background: #e3dac3;
    width: 900px;
    height: 350px;
    border-radius: 25px;
    border: 8px solid #767b96;
    margin: auto;
    display: block;
    margin-bottom: 13.2vw;
    font-size: 20px;
    color: black;
   
}

.imageIcons{
    display: flex;
    margin-top: 40px;
    width: 150px;
    height: 150px;
}

.textIcons{
    display: flex;
    width: 90px;
    height: 80px;
    text-align: center;
}

.iconeCerebrale{  /*container icone cerveau texte*/
    margin-left: 80px;
}

.iconeLoupe{ /*container icone loupe*/
    margin-left: 90px;
}

.iconeInspector{ /*container icone inspecteur*/
    margin-left: 90px;
}

.iconeLangue{ /*container icone langue*/
    margin-left: 90px;
}




.slide{
    float: left;
}
.slider{
    width: calc(700px *5);
    animation: glisse 30s infinite;
    
}

.slidecontainer{
    width: 700px;
    overflow: hidden;
    margin-left: 200px;
    position: relative;
    z-index: 2;


}

@keyframes glisse{
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-700px);
    }
    35% {
        transform: translateX(-700px);
    }
    50% {
        transform: translateX(-1400px);
    }
    60% {
        transform: translateX(-1400px);
    }
    75% {
        transform: translateX(-2100px);
    }
    85% {
        transform: translateX(-2100px);
    }

}


/*Responsiving Image*/
.responsive {
    width: 100%;
    height: 50vw;
} 
