body {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-size: 13px;
    background-color:#fff;
}


/*
BEGINNING OF NAVBAR STYLING
*/

/*Navbar styling*/
#nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    background-color: #5f687c;
    position: -webkit-sticky;
	position: sticky;
}

#nav li {
    display: inline-block;
    text-align: center;
}

/*Navbar text styling*/
#nav li a {
    display: flex;
    padding: 1vw 3vw;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    font-family: ;
    font-size: 1.7vw;
    text-shadow: 3px 3px 5px black;
    color: #fff;
}

#nav li a:hover {
    color: #5f687c;
    text-align: center;
    background-color: #fff;
    text-shadow: none;
}

/*Stickying the navbar*/

.sticky {
	background-color: #ffffff;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

/*
END OF NAVBAR STYLING 
*/

/*
BEGINNING OF FOOTER STYLING
*/

#footer {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    background-color: #5f687c;
}

#footer li {
    display: inline-block;
    text-align: center;
}

#footer li a {
    display: flex;
    padding: 1.2vw 1.3vw;
    text-decoration: none;
    text-align: center;
    font-family: ;
    font-size: 1.5vw;
    color: #fff;
}

#footer li a:hover {
    color: #5f687c;
    text-align: center;
    background-color: #fff;
    text-shadow: none;
}

#footer li p {
    display: flex;
    text-decoration: none;
    text-align: center;
    font-family: ;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    font-size: 1.3vw;
    color: #fff;
}

/*FOOTER'S END*/

#legals_terms {
    display: flex;
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
    background-color: #5f687c;
}

#legals_terms {
    text-align: left;
}

#legals_terms a {
    text-decoration: none;
    color: #fff;
    margin-left: 1vw;
    margin-bottom: 20px;
}

/*
END OF FOOTER STYLING
*/


/*
BEGINNING OF BUTTONS STYLING
*/

/*Buttons Style*/
.loginbutton {
  align-items: center;
  appearance: none;
  background-color: #c4cbd8;
  border-radius: 100px;
  border-width: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1vw;
  height: auto;
  justify-content: center;
  line-height: 1.5vw;
  padding: 0.5vw 0.8vw;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  margin-left: auto;
  margin-right: 1vw;
  margin-top: 0.7vw;
  margin-bottom: 0.7vw;
}

.loginbutton:hover {
    background-color: #fff;
    color: #c4cbd8;
}

/*
END OF BUTTONS STYLING 
*/

/*Responsiving Image*/
.responsive {
    width: 100%;
    height: 60vw;
} 