/* 
IMPORTING NAVBAR STYLE
*/

@import url("navBar.css");
@import url("footer.css");

body {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: "Verdana", "Arial", "Tahoma", "Serif";
    font-size: 13px;
    background-color:#fff;
}

input[type="text"]{
    display: block;
    position: inherit;
    margin: 5px auto;
    font-size: 12px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0); 
    background: transparent;
    outline: none;
    height: 4vh;
    width: 20vw;
}

#zone{
    margin-left: 25%;
    margin-right: 25%;
}   

.wrapper{
    text-align: center;
}

.title{
    font-size: 2vw;
    text-align: center;
}

.C{
    text-align: center;
}

.button{
    border: none;
    color:#fff;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    width: 60px;
    height: 20px;
    margin-left: 70%;
}

#footer{
    margin-top: 5vh;
}






