/* 
IMPORTING NAVBAR STYLE
*/

@import url("navBar.css");
@import url("footer.css");

body {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: "Verdana", "Arial", "Tahoma", "Serif";
    background-color:#fff;  
    background-attachment: fixed;
    text-align:center;
    display:grid;
    grid-template-rows: auto 1fr auto; 
    min-height:100vh;
}

section {
    background-color: #ffffff;
    transition: background 0.5s;
}

section.dark {
    background: #3c4044;
    color: #ffffff;
    transition: background 0.5s;
}

section.dark input {
    background: #3c4044;
    color: #ffffff;
    border-bottom: 1px solid white;
    transition: background 0.5s;
}

section.dark #textareaproblem {
    background: #3c4044;
    color: #ffffff;
    transition: background 0.5s;
}


input[type="text"]{
    display: block;
    position: inherit;
    margin: 5px auto;
    font-size: 12px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0); 
    background: transparent;
    outline: none;
    height: 4vh;
    width: 20vw;
}

.managingnavbar {
    display:flex;
    flex-direction: row;
}

#logo {
    background: #5f687c;
}

#zone{
    margin-left: 25%;
    margin-right: 25%;
}   

.wrapper{
    text-align: center;
}

.title{
    font-size: 2vw;
    text-align: center;
}

.C{
    text-align: center;
}

.supportButton{
    background: #767b96; 
    font-size: 0.8vw;
    color: white;
    cursor: pointer;
    width: 5vw;
    height: 2vw;
    margin-left: 70%;
    text-align: center;
}

.supportButton:hover{
    background: #a1a5b7;
}

#footer{
    margin-top: 5vh;
}






